.fullLayout{
    background-color: rgb(58, 56, 56) no-repeat;
    position: relative;
    color:rgb(127, 144, 165);
    background-size: cover;
    background-position: center;
    height:100% !important;;
    min-height: 100vh !important;;
    display: flex;
    align-items: center !important;
    justify-content: center;
    font-size: 4.5vw;
    flex-direction: column;
    }
    .fullLayout1{
      
        font-size: 3.8vw;
      
        }
        .fullLayout2{
      
        margin-bottom:10vw
          
            }
            .right {
                transform: rotate(-130deg);
                -webkit-transform: rotate(-130deg);
              }
              .arrow {
                border: solid rgb(66, 66, 66);
                border-width: 0 1vw 1vw 0;
                display: inline-block;
                padding: 5vw;
            font-size: 5.5vw;
            float:right
              }
              .paddings{
                margin-left: 15px;
                margin-right:15px;
                display: flex;
                justify-content: space-around;
                min-width: 100vh !important;
                      }