.navbarright{
    float:right
    
    }
    .navbarleft{
        color:lightsteelblue;
    
    }
    .fullNav{
       
    width: 100%;
    font-size: 3.5vw;
    color:lightsteelblue;
    opacity:1;
    float:top !important
    }
    .fullFooter{
    
       
    width: 100%;
    font-size: 3.5vw;
    color:lightsteelblue;
    }
    .fullFooterCenter{
       padding-left: 39%;
       
    }
   
    .MediumSizeNav{
    border-radius: .5vw;
        /* background: rgb(122, 139, 156); */
    font-size: 3.8vw;
    margin-left:3vw;
    margin-right:3vw;
    border-color: lightslategrey;
    color:lightsteelblue;
    }
    